@import "tailwindcss";

@theme {
  --font-sans: "Elms Sans", ui-sans-serif, system-ui;
  --font-serif: "Libre Baskerville", serif;
  --font-mono: "Atkinson Hyperlegible Mono", monospace;
  --font-display: "Elms Sans", cursive;
}

@layer base {
  body {
    @apply font-sans; /* applies Elms Sans by default */
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }

  code, pre {
    @apply font-mono;
  }
}